/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, .9) !important;
}
.navbar-wrapper .navbar .container {
  width: auto;
  background-color: rgba(255, 255, 255, .9) !important;
}

.navbar-wrapper .navbar ul li{
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;

}
/* GOOGLE MAPS
-------------------------------------------------- */
    .google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

/* NEW CAROUSEL
-------------------------------------------------- */
#wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative; 
  width: 100%; /* for IE 6 */
}

#slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 9600px;
    height: 600px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 1920px;
    height: 600px;
}

#slider-text {
    position: absolute; 
   top: 100px; 
   left: 0px; 
   width: 600px; 
    color: #333;   
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(255, 255, 255, 0.9);
   padding:15px 15px 15px 40px;
}


}
/* helper css, since we don't have images 
.slide1 {background: red;}


/* CUSTOMIZE THE CONTACT PAGE
-------------------------------------------------- */


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  .featurette-heading {
    font-size: 50px;
  }
  
  #slider-text {
    font-size: 18px;
  }

  
  #slider  {
    height: 700px; 
    
}
}

@media (max-width: 768px) {
  #slider-text {
    position: absolute; 
   top: 75px; 
   left: 0px; 
   width: 100%;
   padding:5px 15px 15px 20px;
   }
  }

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 30px;
  }
}


