/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
html {
  margin: 0;
  padding: 0;

}

img {
  border:none;
}

a {
  color: #222;
}


li{
  list-style: none;
}

.containermarketing{
  padding-top: 50px;
  padding-left: 30px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-wrapper .navbar ul li{
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;

}
/*----------------------------------------------------------------------------- 
=02 CONTACT
-----------------------------------------------------------------------------*/
.form {
  background: white;
  padding-left: 5px;
}


.contactmain {
    font size: 10px; 
    background:white;
    border: 1px solid #C0C0C0;
    padding: 2px;
    width: 90%;
    max-width: 300px;
    padding-left: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

input, textarea { 
    padding: 4px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    width: 92%; 
    max-width: 92%;  
    background: #FFFFFF; 
} 
   
textarea { 
    width: 89%; 
    max-width: 89%; 
    height: 100px; 
    line-height: 150%; 
} 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
} 

.submit input { 
    width: auto;
    padding: 5px 10px;
    background:#333333;
    border: 15px;
    font-size: 12px;
    color:#FFFFFF;
    border-radius: 5%;
}

/*----------------------------------------------------------------------------- 
=03 ADDRESS DIV
-----------------------------------------------------------------------------*/
.col-sm-4 h5 {
    margin: 0px;
    margin-right: 20%;
    margin-left: 20%;

}
.col-sm-4 h5 p{
    font-weight: bolder;
    margin-top: 50%;
}

.col-sm-4 a{
   margin-right: 20%;
    margin-left: 20%;
    color:#3b5998;
    text-decoration: underline;
}

/*----------------------------------------------------------------------------- 
CONTACT FORM
-----------------------------------------------------------------------------*/
/*.columnsContainer{ position: relative; margin: .5em; }

.contactmain {
  background:white;
  border: 1px solid #C0C0C0;
  position: relative;
  float: left;
    padding: 8px;
    max-width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 25px;
    margin-bottom: .5em; 

}

input, textarea { 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    width: 200px; 
    background: #FFFFFF; 
} 
   
textarea { 
    width: 400px; 
    max-width: 400px; 
    height: 100px; 
    line-height: 150%; 
    } 

.submit input { 
    width: auto; 
    padding: 9px 15px; 
    background:#C0C0C0; 
    border: 15px; 
    font-size: 14px; 
    color:#FFFFFF; 
    }

/*----------------------------------------------------------------------------- 
MAP 
-----------------------------------------------------------------------------*/
.map{
    position: relative; 
    margin-top: 25px;
    border: 0px none; 
    padding: 8px;
    float:right;

}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  .featurette-heading {
    font-size: 50px;
  }
  
  #slider-text {
    font-size: 18px;
  }

  
  #slider  {
    height: 700px; 
    
  }

  .map { 
    
}

@media (max-width: 768px) {
  #slider-text {
    position: absolute; 
   top: 75px; 
   left: 0px; 
   width: 100%;
   padding:5px 15px 15px 20px;
   }
   .map{
    width: 275px; 
    height: 200px;
  }
  }

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 30px;}
  }


















