
/*----------------------------------------------------------------------------- 
Original Image from aggregatespace.com
-----------------------------------------------------------------------------*/

html {
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	border:none;
}

#supersized-loader { 
	position:absolute; 
	top:50%; 
	left:50%; 
	z-index:10; 
	width:60px; 
	height:60px; 
	margin:-30px 0 0 -30px; 
	text-indent:-999em; 
	background-color:#111; 
	background:rgba(0,0,0,0.8) 
	url(images/progress.gif) 
	no-repeat center center; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px;
}

#supersized { 
	position:fixed; 
	left:0; 
	top:0; 
	overflow:hidden; 
	z-index:-999; 
	height:100%; 
	width:100%; 
}

#supersized img{ 
	height:auto; 
	width:auto; 
	position:relative; 
	outline:none; 
	border:none; 
	-ms-interpolation-mode:bicubic; 
	image-rendering: optimizeQuality; 
}

#content {
	width: 540px;
	margin: 40px 0 0 40px;
	padding: 20px;
	color: #222;
	background: url('/img/background-white_84.png');
}


}
a {
	color: #222;
}


h1 {
	font-size: 13px;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 45px;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 27px;
}

p { font-size: 13px; }

p.credit { font-size: 11px; color: #AAA; }


/*----------------------------------------------------------------------------- 
=02 ARCHIVE SECTION
-----------------------------------------------------------------------------*/
 .lead { 
	background-color: #000000 !important; 
}

/* GOOGLE MAPS
-------------------------------------------------- */
    /*.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }



