
/*----------------------------------------------------------------------------- 
Original Image from aggregatespace.com
-----------------------------------------------------------------------------*/

html {
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	border:none;
}

a {
	color: #222;
}


h1 {
	font-size: 13px;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 45px;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 27px;
}

p { font-size: 13px; }

p.credit { font-size: 11px; color: #AAA; }


/*----------------------------------------------------------------------------- 
=02 ARCHIVE SECTION
-----------------------------------------------------------------------------*/
 .lead { 
	background-color: #000000 !important; 
}

/* GOOGLE MAPS
-------------------------------------------------- */
    /*.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }



