body {
	font-family: Helvetica;
}


}
.results {
	width: 100%;
}

.event_instance {
display: inline-block;
float: left;
width: 20%;
padding-left: 50px;
padding-top: 30px;
}

.event_name {
	display: block;
	min-width: 200px;
}
.location {
	display: block;
}

.scraperimage{
	object-fit: cover;
	-o-object-fit: cover;
	border-radius: 1%;
	width:auto !important;
	height:auto !important;
	max-height: 190px !important; 
	min-height: 190px !important;
	min-width: 190px !important;
}

.thumbnail {
	min-width: 200px !important;
	max-width: 200px !important;
	min-height: 400px !important;
	max-height: 400px !important;
}



div#oaklandevents div.col-md-7 {
	width: 100%;
}

div#archive div.col-md-7 {
	width: 100%;
}

@media (max-width: 474px){

.scraperimage{
	max-width: 160px !important; 
	min-width: 160px !important;
	max-height: 160px !important; 
	min-height: 160px !important;
}

.thumbnail {
	min-width: 180px !important;
	max-width: 180px !important;
	min-height: 300px !important;
	max-height: 300px !important;
}
}

@media (max-width: 447px){

.scraperimage{
	max-width: 110px !important; 
	min-width: 110px !important;
	max-height: 110px !important; 
	min-height: 110px !important;
}

.thumbnail {
	min-width: 120px !important;
	max-width: 120px !important;
	min-height: 250px !important;
	max-height: 250px !important;
}
}

/* 325.556px
