body {
	font-family: Helvetica;
}


}
.results {
	width: 100%;
}

.event_instance {
display: inline-block;
float: left;
width: 20%;
padding-left: 20px;
padding-top: 30px;
}

.event_name {
	display: block;
	min-width: 170px;
}
.location {
	display: block;
}

.scraperimage{
	max-width: 190px !important; 
/* 	min-width: 100px !important; */
	max-height: 130px !important;
}

.caption a {
	color: #333 !important;
}

.caption a:hover {
	color: grey !important;
	text-decoration: none;
}

.thumbnail {
	min-width: 170px !important;
	max-width: 250px !important;
	min-height: 400px !important;
	max-height: 400px !important;
	border-radius: 0 !important;
}



div#oaklandevents div.col-md-7 {
	width: 100%;
}

div#archive div.col-md-7 {
	width: 100%;
}

@media (max-width: 474px){

.scraperimage{
	max-width: 160px !important; 
	min-width: 160px !important;
	max-height: 160px !important; 
	min-height: 160px !important;
}

.thumbnail {
	min-width: 180px !important;
	max-width: 180px !important;
	min-height: 300px !important;
	max-height: 300px !important;
}
}

@media (max-width: 447px){

.scraperimage{
	max-width: 110px !important; 
	min-width: 110px !important;
	max-height: 110px !important; 
	min-height: 110px !important;
}

.thumbnail {
	min-width: 120px !important;
	max-width: 120px !important;
	min-height: 250px !important;
	max-height: 250px !important;
}
}

